.h1,
.h1,
.h3,
.h4 {
  color: white;
}

.background {
  position: absolute;
  inset: 0px;
  z-index: -50;
}

.background-screen {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.background-fill {
  height: 562px;
  max-height: 100%;
  width: 562px;
  max-width: 100%;
  border-radius: 9999px;
  background-color: #000000;
}

.footer {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.footer .navi {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: flex;
  width: 100%;
  max-width: 128px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5rem;

  background-color: #cccccc;
  color: #000000;
}

.footer .navi .prev {
  display: inline-flex;
  height: 2rem;
  width: 1.5rem;
  align-items: center;
  justify-content: center;
  border-start-start-radius: 0.5rem;
  border-end-start-radius: 0.5rem;

  background-color: #cccccc;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  color: #000000;
}

.footer .navi .curr {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 500;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  flex-shrink: 0;
}

.footer .navi .next {
  display: inline-flex;
  height: 2rem;
  width: 1.5rem;
  align-items: center;
  justify-content: center;
  border-start-start-radius: 0.5rem;
  border-end-start-radius: 0.5rem;

  background-color: #cccccc;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  color: #000000;
}

.intro {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.intro-title {
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.intro-start {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.intro-start > button {
  background-color: #cccccc;
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.intro-start > button:enabled:hover {
  background-color: #eeeeee;
}

.form {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 36rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.next-question {
  height: 3rem;
  width: 8rem;
  background-color: #cccccc;
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 500;
}

.next-question:enabled,
.next-question:disabled {
  background-color: #cccccc;
}

.next-question:enabled:hover,
.next-question:disabled:hover {
  background-color: #eeeeee !important;
}

.try-again {
  background-color: #eeeeee;
}

.try-again:hover {
  background-color: #eeeeee;
}

.checkbox {
  color: white;
}

.rating-selected {
  background-color: #eeeeee;
}

.sortable-item {
  background-color: #cccccc;
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 500;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.dropdown button {
  background-color: #cccccc;
  color: #000000;
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 500;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 0.5rem;
  height: 3rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
}

.dropdown button > span > svg {
  position: absolute;
  top: 0;
  right: 10px;
  height: 100%;
}

.outro {
  margin-left: auto;
  margin-right: auto;
  max-width: 768px;
  gap: 1rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
}

.caption {
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 500;
}
